<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add new records</title>
</head>
<body>
<h3>Students- Flask SQLAlchemy example</h3>
</div>
<hr/>
{%- for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}

<form action="{{ request.path}}" method="post">
    <label for="name" >Name</label><br>
    <input type="text" name="name" placeholder="Name" ><br>
    <label for="city" >City</label><br>
    <input type="text" name="city" placeholder="city" ><br>
    <label for="addr" >addr</label><br>
    <input type="addr" name="addr" placeholder="addr" ><br>
    <label for="pin" >pin</label><br>
    <input type="text" name="pin" placeholder="pin" ><br>
    <input type="submit" value="submit">
</form>
</body>
</html>