<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Student records here</title>
</head>
<body>
<form action="{{ url_for('addrec') }}" method="POST">
<h3>Student Information</h3>
    NAME<br>
    <input type="text" name="name"/></br>
    Address<br>
    <textarea name="addr"></textarea></br>
    City <br>
    <input type="text" name="city" /></br>
    Pincode <br>
    <input type="number" name="pin" /></br>


    <input type="submit" value="submit"><br>
</form>
</body>
</html>